#owners and reviewers
.ci/ .github/                 @napetrov @PetrovKP
*.md doc/                     @outoftardis
oneapi/* examples/* setup.py  @michael-smirnov @PetrovKP 
test*.py                      @OnlyDeniko
daal4py/sklearn               @Pahandrovich @PetrovKP
src/*                         @PetrovKP
