# Infra and tools
.ci/                          @napetrov @vmeshche
.github/                      @napetrov @vmeshche
.circleci/                    @Pahandrovich @vmeshche

# Docs
*.md                          @maria-Petrova
doc/                          @maria-Petrova

# DPC++
**/oneapi/                    @vlad-nazarov

# Examples 
examples/                     @Pahandrovich @vlad-nazarov
examples/notebooks/           @maria-Petrova

# Dependencies
setup.py                      @Pahandrovich @vmeshche
requirements*                 @Pahandrovich @vmeshche
requirements-doc.txt          @maria-Petrova
conda-recipe/                 @Pahandrovich @vmeshche

# Testing
**/test*.py                   @Pahandrovich

# Scikit-learn patching
daal4py/sklearn/              @Pahandrovich @vlad-nazarov

# Core
src/                          @Pahandrovich @vlad-nazarov @vmeshche
generator/                    @Pahandrovich @vlad-nazarov @vmeshche
