[run]
branch = True
source = 
    sklearnex
    onedal
parallel = True
omit =
    */onedal/tests/*
    */sklearnex/conftest.py
    */sklearnex/tests/*
    */sklearnex/preview/*
    */sklearnex/spmd/*
