# build artefacts
*.so
*.egg
*.pyc
build
dist
daal4py.egg-info
**/__pycache__
*.lib
*.dll
**/.ipynb_checkpoints
doc/_build
doc/sources/samples/*.ipynb
*.obj
*.pyd
build_oneapi_backend

# Cython generated code
src/oneapi/oneapi_api.h
src/oneapi/oneapi.cpp

# IDE properties
.vscode
*.code-workspace

# sklearnex files
scikit_learn_intelex.egg-info

# record files
record*

# example .res files
tests/_results*

# json reports from pytest
.pytest_reports/*
