# build artefacts
*.so
*.egg
*.pyc
build
dist
daal4py.egg-info
**/__pycache__

# Cython generated code
src/oneapi/oneapi_api.h
src/oneapi/oneapi.cpp

# IDE properties
.vscode

# sklearnex files
scikit_learn_intelex.egg-info
