pytest==8.2.2 ; python_version >= '3.9'
numpy>=1.19.5 ; python_version <= '3.9'
numpy>=1.21.6 ; python_version == '3.10'
numpy>=1.23.5 ; python_version == '3.11'
numpy>=2.0.0rc2 ; python_version >= '3.12'
scikit-learn==1.4.2 ; python_version >= '3.9'
pandas==2.1.3 ; python_version >= '3.9' and python_version < '3.11'
pandas==2.2.2 ; python_version >= '3.11'
xgboost==2.0.3
lightgbm==4.3.0
catboost==1.2.5 ; python_version < '3.12' # TODO: Remove 3.12 condition when catboost supports numpy 2.0
shap==0.45.1 ; python_version >= '3.9' and python_version < '3.12' # TODO: Remove 3.12 condition when shap/numba support numpy 2.0
array-api-strict==1.1.1 ; python_version >= '3.9'
