pytest==7.4.4 ; python_version <= '3.10'
pytest==8.3.3 ; python_version >= '3.11'
pytest-json-report==1.5.0
numpy>=1.19.5 ; python_version <= '3.9'
numpy>=1.21.6 ; python_version == '3.10'
numpy>=1.23.5 ; python_version == '3.11'
numpy>=2.0.0 ; python_version >= '3.12'
scikit-learn==1.5.2
pandas==2.2.3 ; python_version < '3.11'
pandas==2.2.3 ; python_version >= '3.11'
xgboost==2.1.2
lightgbm==4.5.0
catboost==1.2.7 ; python_version < '3.11' # TODO: Remove 3.11 condition when catboost supports numpy 2.0
shap==0.46.0
array-api-compat==1.9
array-api-strict==2.1
