version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.7

    working_directory: ~/daal4py-ci

    steps:
      - checkout
      - run:
          name: Setting up build environment
          command: |
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
            bash miniconda.sh -b -p ~/miniconda
            export PATH=~/miniconda/bin:$PATH
            hash -r
            conda config --set always_yes yes --set changeps1 no
            conda update -q conda
            conda install -q conda-build
            conda create -q -n bld --override-channels -c intel -c conda-forge python=3.6 numpy scipy pytest daal mpich tbb pandas numpydoc
            gcc -v
            g++ -v
            head /proc/cpuinfo
      - run:
          name: Building daal4py
          command: |
            . ~/miniconda/etc/profile.d/conda.sh
            conda activate bld
            mkdir -p /tmp/out
            conda build --python=36 --override-channels -c intel -c conda-forge --output-folder /tmp/out --no-test conda-recipe
      - run:
          name: Testing sklearn patches
          command: |
            export PATH=~/miniconda/bin:$PATH
            . ~/miniconda/etc/profile.d/conda.sh
            conda activate bld
	    conda install -c defaults pyyaml
            conda install -q /tmp/out/*/daal4py-*.tar.bz2
            pip install -q scikit-learn
            conda list
            touch ~/d4p.out ~/skl.out
	    export DESELECTED_TESTS=`python deselect_tests.py ../deselected_tests.yaml --absolute`
            echo "-m daal4py -m pytest ${DESELECTED_TESTS} -q -ra --disable-warnings --pyargs sklearn"
            # It is important for pytest to work in a separate test folder to not discover tests in ~/miniconda folder
            cd && ((python -m daal4py -m pytest ${DESELECTED_TESTS} -ra --disable-warnings --pyargs sklearn | tee ~/d4p.out) || true)
            cd && ((python -m pytest ${DESELECTED_TESTS} -ra --disable-warnings --pyargs sklearn | tee ~/skl.out) || true)
            export D4P=`grep -e '\d* passed.* second' ~/d4p.out`
            export SKL=`grep -e '\d* passed.* second' ~/skl.out`
            tar cjf /tmp/patched_and_unpatched_sklearn_pytest_logs.tar.bz2 ~/d4p.out ~/skl.out
            echo "Summary of patched run: " $D4P
            echo "Summary of unpatched run: " $SKL
            python ~/daal4py-ci/.circleci/compare_runs.py
      - store_artifacts:
          path: /tmp/patched_and_unpatched_sklearn_pytest_logs.tar.bz2
