#===============================================================================
# Copyright 2020 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#===============================================================================

version: 2.0

jobs:
  build_pypi:
    docker:
      - image: cimg/python:3.10.1

    working_directory: ~/daal4py-ci

    steps:
      - checkout
      - run:
          name: Setting up build environment
          command: |
            ls -la
            sudo apt-get update
            sudo apt-get install -q -y gcc-10 g++-10
            source ./.circleci/setup_env.sh
            bash .ci/scripts/describe_system.sh
      - run:
          name: Building daal4py
          command: |
            . ~/miniconda/etc/profile.d/conda.sh
            conda activate bld
            export DALROOT=$CONDA_PREFIX
            export NO_DIST=1
            export SKLEARNEX_CMAKE_N_JOBS=1
            CC=gcc-10 CXX=g++-10 python setup.py install --single-version-externally-managed --record=record.txt
      - run:
          name: Building sklearnex
          command: |
            . ~/miniconda/etc/profile.d/conda.sh
            conda activate bld
            export DALROOT=$CONDA_PREFIX
            python setup_sklearnex.py install --single-version-externally-managed --record=record1.txt
      - run:
          name: Testing sklearn patches with sklearnex
          no_output_timeout: 20m
          command: |
            export PATH=~/miniconda/bin:$PATH
            . ~/miniconda/etc/profile.d/conda.sh
            conda activate bld
            pip install -q scikit-learn "numpydoc<1.2"
            conda list
            source ./.circleci/run_and_compare.sh ~/daal4py-ci /tmp/patched_and_unpatched_sklearn_pypi_pytest_logs_sklearnex.tar.bz2 sklearnex skex
      - store_artifacts:
          path: /tmp/patched_and_unpatched_sklearn_pypi_pytest_logs_sklearnex.tar.bz2

  build_scikit-learn_master:
    docker:
      - image: cimg/python:3.11

    working_directory: ~/daal4py-ci

    steps:
      - checkout
      - run:
          name: Setting up build environment
          command: |
            ls -la
            sudo apt-get update
            sudo apt-get install -q -y gcc-10 g++-10
            source ./.circleci/setup_env.sh 3.10
            bash .ci/scripts/describe_system.sh
      - run:
          name: Building daal4py
          command: |
            . ~/miniconda/etc/profile.d/conda.sh
            conda activate bld
            export DALROOT=$CONDA_PREFIX
            export NO_DIST=1
            export SKLEARNEX_CMAKE_N_JOBS=1
            CC=gcc-10 CXX=g++-10 python setup.py install --single-version-externally-managed --record=record.txt
      - run:
          name: Testing sklearn patches
          no_output_timeout: 20m
          command: |
            export PATH=~/miniconda/bin:$PATH
            . ~/miniconda/etc/profile.d/conda.sh
            conda activate bld
            conda install -y -c conda-forge threadpoolctl cython
            git clone https://github.com/scikit-learn/scikit-learn.git
            pushd scikit-learn && python setup.py install
            popd
            conda list
            source ./.circleci/run_and_compare.sh ~/daal4py-ci /tmp/patched_and_unpatched_sklearn_master_pytest_logs.tar.bz2
      - store_artifacts:
          path: /tmp/patched_and_unpatched_sklearn_master_pytest_logs.tar.bz2


workflows:
  version: 2
  commit:
    jobs:
      - build_pypi:
          filters:
            branches:
              ignore: test-sklearn-master

  nightly:
    triggers:
      - schedule:
          cron: "49 23 * * *"
          filters:
            branches:
              only: master
    jobs:
      - build_scikit-learn_master
